<?xml version="1.0"?>

<!-- When Run the Calibrator, you should be typing below command -->



<launch>
  <arg name="address" default="192.168.1.21"/>
  <arg name="env_name" default="env.bash"/>
  <arg name="user_name" default="nvidia"/>
  <arg name="password" default="nvidia"/>
  
  <arg name="use_robot_name" default="tb3_hsc"/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  
  <arg name="use_filter" default="true"/>


  <arg name="camera_id" default="0" />                       <!-- The sensor id of the camera -->
  <arg name="camera_name" default="csi_cam_$(arg camera_id)" /> <!-- The name of the camera (corrsponding to the camera info) -->
 
  <arg name="camera_frame_id" default="$(arg use_robot_name)/camera_rgb_optical_frame" />    <!-- The TF frame ID. -->
 
  <arg name="sync_sink" default="true" />                    <!-- Synchronize the app sink. Setting this to false may resolve problems with sub-par framerates. -->
  <arg name="width" default="640" />                         <!-- Image Width -->
  <arg name="height" default="480" />                        <!-- Image Height -->
  <arg name="fps" default="10" />                            <!-- Desired framerate. True framerate may not reach this if set too high. -->


  <machine name="tb3" address="$(arg address)" env-loader="~/$(arg env_name)" user="$(arg user_name)" password="$(arg password)" />

  <!-- Make arguments available to parameter server -->
  <param name="$(arg camera_name)/camera_id" type="int" value="$(arg camera_id)" />
  <param name="$(arg camera_name)/image_width" type="int" value="$(arg width)" />
  <param name="$(arg camera_name)/image_height" type="int" value="$(arg height)" />
  <param name="$(arg camera_name)/target_fps" type="int" value="$(arg fps)" />
  
  <!-- csi camera -->
  <env name="GSCAM_CONFIG" value="nvcamerasrc sensor-id=$(arg camera_id) ! video/x-raw(memory:NVMM),
  width=(int)$(arg width), height=(int)$(arg height), format=(string)I420, framerate=(fraction)$(arg fps)/1 ! 
  nvvidconv flip-method=-1 ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR" />
  
  <!-- Start the GSCAM node -->
  <node machine="tb3" pkg="gscam" type="gscam" name="$(arg camera_name)">
    <param name="camera_name" value="$(arg camera_name)" />
    <param name="frame_id" value="$(arg camera_frame_id)" />
    <param name="sync_sink" value="$(arg sync_sink)" />
    <remap from="camera/image_raw" to="$(arg camera_name)/image_raw" />
    <remap from="$(arg camera_name)/camera_info" to="$(arg camera_name)/set_camera_info" /> 
  </node>

</launch>
